/vendor/
/node_modules/
/.env
/.env.local
/*.log
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.DS_Store
.idea/
.vscode/
dist/
build/
